USE [master]
GO
/****** Object:  Database [NDS_LT]    Script Date: 12/12/2021 9:56:28 PM ******/
CREATE DATABASE [NDS_LT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NDS_LT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NDS_LT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NDS_LT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NDS_LT_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDS_LT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDS_LT]
GO
/****** Object:  Table [dbo].[Country_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country_NDS](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryNK] [varchar](4) NULL,
	[CountryName] [varchar](50) NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[Parent] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_NDS](
	[CusID] [int] IDENTITY(1,1) NOT NULL,
	[CusNK] [varchar](4) NOT NULL,
	[CusName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[Sex] [char](1) NULL,
	[Hobby] [varchar](30) NULL,
	[Job] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Day_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Day_NDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Day] [int] NULL,
	[Month] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_NDS](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNK] [varchar](4) NOT NULL,
	[SourceID] [int] NULL,
	[CusID] [int] NULL,
	[StoreID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail_NDS](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[DetailNK] [int] NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Month_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Month_NDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Month] [int] NULL,
	[Year] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_NDS](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductNK] [varchar](4) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductPrice] [int] NULL,
	[ProductType] [int] NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType_NDS](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeNK] [varchar](4) NOT NULL,
	[ProductTypeName] [varchar](50) NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Source_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source_NDS](
	[SourceID] [int] NOT NULL,
	[SourceName] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_NDS](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreNK] [varchar](4) NULL,
	[SourceID] [int] NULL,
	[StoreName] [varchar](50) NULL,
	[StoreType] [int] NULL,
	[Country] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreType_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreType_NDS](
	[StoreTypeID] [int] IDENTITY(1,1) NOT NULL,
	[StoreTypeNK] [varchar](4) NULL,
	[SourceID] [int] NULL,
	[StoreTypeName] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Year_NDS]    Script Date: 12/12/2021 9:56:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Year_NDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_CV_C] FOREIGN KEY([CusID])
REFERENCES [dbo].[Customer_NDS] ([CusID])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_CV_C]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_ST_ST] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store_NDS] ([StoreID])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_ST_ST]
GO
ALTER TABLE [dbo].[Invoice_NDS]  WITH CHECK ADD  CONSTRAINT [FK_SV_S] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[Invoice_NDS] CHECK CONSTRAINT [FK_SV_S]
GO
ALTER TABLE [dbo].[InvoiceDetail_NDS]  WITH CHECK ADD  CONSTRAINT [FK_P_P] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product_NDS] ([ProductID])
GO
ALTER TABLE [dbo].[InvoiceDetail_NDS] CHECK CONSTRAINT [FK_P_P]
GO
ALTER TABLE [dbo].[InvoiceDetail_NDS]  WITH CHECK ADD  CONSTRAINT [FK_SD_S] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[InvoiceDetail_NDS] CHECK CONSTRAINT [FK_SD_S]
GO
USE [master]
GO
